<div
  id="terminal"
  data-controller="terminal"
  data-terminal-vm-name-value="<%= @vm_name %>"
  data-terminal-session-id-value="<%= @session_id %>"
  style="width:100vw;height:100vh;padding:8px;box-sizing:border-box;"
></div>
